.site-nav {
}
.site-nav__item-a {
}
.site-nav__item-b {
}
.site-nav__item-c {
}

.test-btn {
  width: 150px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  border-color: transparent;
  font-weight: 600;
  cursor: pointer;
}
